<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="login-form" (submit)="onSubmit()" #loginForm="ngForm">
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter your name" name="username"
            ngModel required #username="ngModel">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" value="" name="password" type="password" 
            ngModel required #password="ngModel">
            </mat-form-field>
            <div>
                <button mat-raised-button type="submit" [disabled]="!loginForm.valid" color="primary">Submit</button>
                <button mat-raised-button type="button" color="primary" (click)="clear()">Reset</button>
                <a routerLink="/auth/sign-up">Forgot Password</a>
            </div>
            <div>
                <p>Don't have an account? <a routerLink="/auth/sign-up">SignUp</a></p>
            </div>
            <!-- <div> -->
                <!-- <p>Already Having an account? <a>SignIn</a></p> -->
            <!-- </div> -->
            <!-- <span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span> -->
            </form>
    </mat-card-content>
</mat-card>